<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav id="navbar" class="navbar">
        <a class="logo" href="{{url_for('blog.home')}}">Lorem<span id="second-word">Ipsum</span></a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            <li>{{ messages[1] }}</li>
        </ul>
        {% endif %}
        {% endwith %}
        <ul class="navbar-links">
            <li><a class="menu-buttons" href="{{url_for('blog.create')}}"><span>Write</span></a></li>
            <li><a class="menu-buttons" href="{{url_for('users.view_all')}}"><span>Users</span></a></li>
            <li><a class="menu-buttons" href="{{url_for('blog.filter')}}"><span>Filter</span></a></li>
            {% if session['username'] %}
            <li><a class="menu-buttons" href="{{url_for('auth.logout')}}"><span>Log out</span></a></li>
            {% else %}
            <li><a class="menu-buttons" href="{{url_for('auth.login')}}"><span>Log in</span></a></li>
            <li><a class="menu-buttons" href="{{url_for('auth.sign_up')}}"><span>Sign-up</span></a></li>
            {% endif %}
            <li><a id="username" href="{{url_for('users.view_user', username=session['username'])}}">{{session['username']}}</a></li>
        </ul>
    </nav>


    {% if user is none %}
    Filter posts
    {% else %}
    {{user.name}}'s posts
    {% endif %}


    {% if user is none %}
    <h1 class="crud-title">Filter posts by username</h1>
    {% else %}
    <h1 class="crud-title">{{user.name}}'s posts</h1>

    {% endif %}


    <form method="POST" class="crud_form">
        <label class="crud_label" for="username">Username</label> <br>
        <input type="text" class="form-title" name="username"><br>
        <br>
        <input type="submit" value="Search / Reset">
    </form>

    {% if user is not none %}
    <div class="wrapper">
        {% for preview in posts %}
        <a href="{{url_for('blog.show', post_id = preview.post_id)}}">
            <div class="card">
                <div class="card-banner">
                    <p class="category-tag popular">{{generator.random_tag()}}</p>
                    <img class="banner-img"
                         src="{{generator.random_pic()}}" />
                </div>

                <div class="card-body">
                    <p class="blog-hashtag">{{generator.random_hashtags()}}</p>
                    <h2 class="blog-title"> {{preview.title}}</h2>
                    <p class="blog-description"> {{preview.text}}</p>
                    <div class="card-profile">
                        <img class="profile-img"
                             src="https://images.unsplash.com/photo-1526835746352-0b9da4054862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                        <div class="card-profile-info">
                            <h6 class="owner">
                                {{preview.owner}}
                            </h6>
                            <h6 class="date-created">
                                {% if preview.date_modified[16:] == preview.date_created[12:] %}
                                {{preview.date_created}}
                                {% else %}
                                {{preview.date_modified}}
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    {% endif %}

</body>

</html>