{% extends 'base.html' %}
{% block title %} Lorem Ipsum {% endblock %}

{% block content %}
<div class="welcome">
    <div class="img-container">
        <img id="laptop-img" src="https://wallpaperaccess.com/full/1682012.jpg" />
         <div class="logo">Lorem<span id="second-word">Ipsum</span></div>
    </div>
</div>

<div class="wrapper">
    {% for preview in posts %}
    <a href="{{url_for('blog.show', post_id = preview.post_id)}}">
        <div class="card">
            <div class="card-banner">
                <p class="category-tag popular">{{generator.random_tag()}}</p>
                <img class="banner-img"
                     src="{{generator.random_pic()}}" />
            </div>

            <div class="card-body">
                <p class="blog-hashtag">{{generator.random_hashtags()}}</p>
                <h2 class="blog-title"> {{preview.title}}</h2>
                <p class="blog-description"> {{preview.text}}</p>
                <div class="card-profile">
                    <img class="profile-img"
                         src="https://images.unsplash.com/photo-1526835746352-0b9da4054862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                    <div class="card-profile-info">
                        <h6 class="owner">
                            {{preview.owner}}
                        </h6>
                        <h6 class="date-created">
                            {% if preview.date_modified[16:] == preview.date_created[12:] %}
                            {{preview.date_created}}
                            {% else %}
                            {{preview.date_modified}}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="footer">
    <div class="footers">
        <ul class="footer-list">
            <li>
                <h2>Product</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpres</a></li>
                    <li><a href="#">HTML template</a></li>
                </ul>
            </li>
            <li>
                <h2>Useful links</h2>
                <ul class="box">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Certifications</a></li>
                </ul>
            </li>
            <li>
                <h2>Platform</h2>
                <ul class="box">
                    <li><a href="#">Shared Inbox</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Reporting</a></li>
                    <li><a href="#">iOS and Android</a></li>
                </ul>
            </li>
            <li>
                <h2>Learn</h2>
                <ul class="box">
                    <li><a href="#">​​Customer Service</a></li>
                    <li><a href="#">​​Support Skills</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Knowledge Base</a></li>
                </ul>
            </li>
            <li>
                <h2>Get Help</h2>
                <ul class="box">
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Help Docs</a></li>
                    <li><a href="#">Free Training</a></li>
                    <li><a href="#">More Features</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>All rights reserved by @dolorsitamet</p>
    </div>

</div>
{% endblock %}
