{% extends 'base.html' %}
{% block title %} Lorem Ipsum {% endblock %}

{% block content %}
<div class="welcome">
    <div class="img-container">
        <img id="laptop-img" src="https://wallpaperaccess.com/full/1682012.jpg" />
        <div class="logo">Lorem<span id="second-word">Ipsum</span></div>
    </div>
</div>

<form method="POST" class="crud_form">
    <label class="crud_label" for="username">Filter posts by username</label> <br>
    <select name=user method="GET" action="/">
        {% for user in users %}
        <option value="{{user.username}}">{{user.name}}</option>"
        {% endfor %}
    </select>
    <br>
    <input type="submit" name="action" value="Search">
    <input id="reset" type="submit" name="action" value="Reset">
</form>

{% if session['filter_user'] is not none%}
{% for user in users %}
{% if session['filter_user'] == user.username %}
{% if posts|length > 0 %}
<p class="crud_form">{{user.name}}'s posts</p>
{% else %}
<p class="crud_form">{{user.name}} has no posts yet</p>

{% endif %}
{% endif %}
{% endfor %}
{% endif %}

<div class="wrapper">
    {% for preview in posts %}
    <div class="card">
        <a href="{{url_for('blog.show', post_id = preview.post_id)}}">
            <div class="card-banner">
                <p class="category-tag popular">{{generator.random_tag()}}</p>
                <img class="banner-img"
                     src="{{generator.random_pic()}}" />
            </div>

        </a>
        <div class="card-body">
            <a href="{{url_for('blog.show', post_id = preview.post_id)}}">
                <p class="blog-hashtag">{{generator.random_hashtags()}}</p>
                <h2 class="blog-title"> {{preview.title}}</h2>
                <p class="blog-description"> {{preview.text}}</p>

            </a>
            <a href="{{url_for('users.view_user', username = preview.owner_username)}}">
                <div class="card-profile">
                    <img class="profile-img"
                         src="https://images.unsplash.com/photo-1526835746352-0b9da4054862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                    <div class="card-profile-info">
                        <h6 class="owner">
                            {{preview.owner}}
                        </h6>
                        <h6 class="date-created">
                            {% if preview.date_modified[16:] == preview.date_created[12:] %}
                            {{preview.date_created}}
                            {% else %}
                            {{preview.date_modified}}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </a>
        </div>

    </div>
    {% endfor %}
</div>
<div class="pagination">
    <div class="page-numbers">
        {% if pages|length > 1%}
        {% if page_num > 1 %}
        <a href="{{ url_for('blog.home', page=page_num - 1) }}"
           class="arrow">
            &laquo;
        </a>
        {% endif %}

        {% for page in pages %}
        {% if page %}
        {% if page == page_num %}
        <a href="{{ url_for('blog.home', page=page_num)}}"
           id="active-page">{{  page }}</a>
        {% else %}
        <a href="{{ url_for('blog.home', page=page)}}"
           id="inactive-page">{{  page }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if (pages|length > 0) and (page_num < pages[-1]) %}
        <a href="{{ url_for('blog.home', page=page_num + 1) }}"
           id="arrow">
            &raquo;
        </a>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="footer">
    <div class="footers">
        <ul class="footer-list">
            <li>
                <h2>Product</h2>
                <ul class="box">
                    <li><a href="#">Theme Design</a></li>
                    <li><a href="#">Plugin Design</a></li>
                    <li><a href="#">Wordpres</a></li>
                    <li><a href="#">HTML template</a></li>
                </ul>
            </li>
            <li>
                <h2>Useful links</h2>
                <ul class="box">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Certifications</a></li>
                </ul>
            </li>
            <li>
                <h2>Platform</h2>
                <ul class="box">
                    <li><a href="#">Shared Inbox</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Reporting</a></li>
                    <li><a href="#">iOS and Android</a></li>
                </ul>
            </li>
            <li>
                <h2>Learn</h2>
                <ul class="box">
                    <li><a href="#">​​Customer Service</a></li>
                    <li><a href="#">​​Support Skills</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Knowledge Base</a></li>
                </ul>
            </li>
            <li>
                <h2>Get Help</h2>
                <ul class="box">
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Help Docs</a></li>
                    <li><a href="#">Free Training</a></li>
                    <li><a href="#">More Features</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>All rights reserved by @dolorsitamet</p>
    </div>

</div>
    {% endblock %}
