<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <nav>
                <ul class="nav_list">
                    <li>
                        <a id="logo" href="{{url_for('blog.home')}}">Lorem<span id="second_word">Ipsum</span></a>
                    </li>
                    <li class="hoverlink"><a class="current" href="{{url_for('blog.home')}}">Home</a></li>
                    <li class="hoverlink"><a href="{{url_for('blog.create')}}">Write</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% block content %}{% endblock %}
    </section>
</body>