<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script src="test.js"></script>

</head>

<body>
    <div class="navbar">
        <div class="container">
            <nav>
                <ul class="nav_list">
                    <li><a class="logo" href="{{url_for('blog.home')}}">Lorem<span id="second-word">Ipsum</span></a></li>
                    <li><a class="menu-buttons" href="{{url_for('blog.create')}}">Write</a></li>
                    <li><a href="#" class="toggle-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        </li>
                    </a>
                </ul>

                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </nav>
        </div>
    </div>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </section>
    <script >
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-100px";
        }
            prevScrollpos = currentScrollPos;
        }
    </script>
    <script src="hide_nav.js"></script>
</body>

</html>