<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav id="navbar" class="navbar">
        <a class="logo" href="{{url_for('blog.home')}}">Lorem<span id="second-word">Ipsum</span></a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <ul class="navbar-links">
            <li><a class="menu-buttons" href="{{url_for('blog.create')}}"><span>Write</span></a></li>
            <li><a class="menu-buttons" href="{{url_for('users.view_all')}}"><span>Users</span></a></li>
            <li><a class="menu-buttons" href="{{url_for('users.sign_up')}}"><span>Sign-up</span></a></li>
        </ul>
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </section>

    <script src="{{url_for('static', filename="js/hide_nav.js")}}"></script>
    <script src="{{url_for('static', filename="js/collapse_nav.js")}}"></script>
</body>

</html>