{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block header %}<h1 class="crud-title">Edit profile</h1>{% endblock %}

{% block content %}
                  <form method="POST" class="crud_form">
                      <label class="crud_label" for="signup"> Your name </label> <br>
                      <input type="text" class="form-title" name="name"><br>

                      <label class="crud_label" for="signup"> Email adress </label> <br>
                      <input type="text" class="form-title" name="email"><br>

                      <label class="crud_label" for="signup"> Change password (optional)</label> <br>
                      <input type="password" class="form-title" name="password"><br>

                      <label class="crud_label" for="signup"> Confirm change password  </label> <br>
                      <input type="password" class="form-title" name="confirm_password"><br>

                      <br>
                      <input type="submit" value="Confirm edit">
                  </form>
{% endblock %}