{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block header %}<h1 class="crud-title">This user has been loaded from a table and need to be set-up before you continue</h1>{% endblock %}

{% block content %}
                  <form method="POST" class="crud_form" enctype="multipart/form-data">
                      <label class="crud_label" for="signup"> Your name </label> <br>
                      <input type="text" class="form-title" name="name"><br>

                      <label class="crud_label" for="signup"> Email adress </label> <br>
                      <input type="text" class="form-title" name="email"><br>

                      <label class="crud_label" for="signup"> Password </label> <br>
                      <input type="password" class="form-title" name="password"><br>

                      <label class="crud_label" for="signup"> Confirm password  </label> <br>
                      <input type="password" class="form-title" name="confirm_password"><br>

                      <img id="preview" src="#" alt="" width="290" />
                      <label for="img" class="file-upload">Upload image</label>
                      <input type="file" id="img" name="img" accept="image/*" onchange="show_name()">
                      <input type="submit" value="Confirm edit">
                  </form>
{% endblock %}