{% extends 'base.html' %}

{% block title %}{{user.name}}'s Profile'{% endblock %}

{% block header %}<h1 class="crud-title">{{user.name}}'s Profile</h1>{% endblock %}

{% block content %}
<div class="edit-delete">
    {% if session['username'] == user.username or session['username'] == 'admin' %}
    <a class="action" href="{{url_for('users.edit', username = user.username)}}">Edit</a>
    <a class="action" href="{{url_for('users.delete', username = user.username)}}" onclick="return confirm('ee you want to delete this item?');">Delete</a>
    {% endif %}
</div>

<div class="user-info">
    <h3>Username: {{user.username}}</h3>
    <h3>Email: {{user.email}}</h3>
    <h3>Date joined: {{user.date_created}}</h3>
    <h3>Profile last modified: {{user.date_modified}}</h3>
</div>


<div class="wrapper">
    {% if posts is defined and posts %}
    {% for preview in posts %}
    <a href="{{url_for('blog.show', post_id = preview.post_id)}}">
        <div class="card">
            <div class="card-banner">
                <p class="category-tag popular">{{generator.random_tag()}}</p>
                <img class="banner-img"
                     src="{{generator.random_pic()}}" />
            </div>

            <div class="card-body">
                <p class="blog-hashtag">{{generator.random_hashtags()}}</p>
                <h2 class="blog-title"> {{preview.title}}</h2>
                <p class="blog-description"> {{preview.text}}</p>
                <div class="card-profile">
                    <img class="profile-img"
                         src="https://images.unsplash.com/photo-1526835746352-0b9da4054862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                    <div class="card-profile-info">
                        <h6 class="owner">
                            {{preview.owner}}
                        </h6>
                        <h6 class="date-created">
                            {% if preview.date_modified[16:] == preview.date_created[12:] %}
                            {{preview.date_created}}
                            {% else %}
                            {{preview.date_modified}}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    {% endif %}
</div>


<div class="pagination">
    <div class="page-numbers">
        {% if page_num > 1 %}
        <a href="{{ url_for('users.view_user', username = user.username, page=page_num - 1) }}"
           class="arrow">
            &laquo;
        </a>
        {% endif %}

        {% for page in pages %}
        {% if page %}
        {% if page == page_num %}
        <a href="{{ url_for('users.view_user', username = user.username, page=page_num)}}"
           id="active-page">{{  page }}</a>
        {% else %}
        <a href="{{ url_for('users.view_user', username = user.username, page=page)}}"
           id="inactive-page">{{  page }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if page_num < pages[-1] %}
        <a href="{{ url_for('users.view_user', username = user.username, page=page_num + 1) }}"
           id="arrow">
            &raquo;
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}