{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block header %}<h1 class="crud-title">View all users</h1>{% endblock %}

{% block content %}

    <div class="wrapper">
        {% for user in users %}
            <div class="card">
                <div class="card-banner">
                </div>
                <a href="{{url_for('users.view_user', username = user.username)}}">
                    <div class="card-body">
                        <h2 class="blog-title"> {{user.name}}</h2>
                        <p class="blog-description"> {{user.email}}</p>
                        <div class="card-profile">
                            <img class="profile-img"
                                 src="https://images.unsplash.com/photo-1526835746352-0b9da4054862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" />
                            <div class="card-profile-info">
                                <h6 class="owner">
                                    {{user.username}}
                                </h6>
                                <h6 class="date-created">
                                    {% if user.date_modified[16:] == user.date_created[12:] %}
                                    {{user.date_created}}
                                    {% else %}
                                    {{user.date_modified}}
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}